doctype 5
html
	head
		title= title
		link(rel="shortcut icon", href="/images/theninjastar.png")
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		#nav
			ol
				a(href="/")#li_logo
					li
						img(src='/images/ninjastar.png', height=60, width=220)
				li
					a(href="/user/#{username}") Profile
				li
					a(href="/quotes") Quotes
				li	
					a(href="/signup") Sign Up
				li#search 
					form(method="get") 
						input(type="text", id="searchBox", name="searchBox", placeholder="Search Quotes")
		#nav2
			ol
				include userbar
				
				
		
		#wrapper

			#container
				br
				#main_content
					block mainContent
					
				#side_content
					#sidebar
						#profile_update
							h1 Profile Update
								p
									| : No profile to update.
						#recent_items
							h1 Recent Quotes
								p
									| : No recent Quotes.	
				
				    
		#footer
			div Copyright &copy; NinjaMine #{+new Date().getFullYear()} 
			a(href='/page?name=about') About 
			| |  
			a(href='/page?name=contact') Contact Us