doctype 5
html
	head
		title= title
		link(rel="shortcut icon", href="/images/theninjastar.png")
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/stylesheets/nav.css')
		link(rel='stylesheet', href='/stylesheets/wrapper.css')
		link(rel='stylesheet', href='/stylesheets/footer.css')

	body
		#nav
			ol
				a(href="/")#li_logo
					li
						img(src='/images/ninjastar.png', height=60, width=220)
				
				if(typeof username !== 'undefined')
					li
						a(href="/user/#{username}") Profile
				else
					li
						a(href="/users") Profile
					
				li
					a(href="/quotes") Quotes
				li	
					a(href="/signup") Sign Up
				li#search 
					form(method="get", action="/search_results") 
						input(type="text", id="searchBox", name="query", placeholder="Search a user")
				li#newQuote
					a(href="/new") New Quote
		#nav2
			ol
				include userbar
				
				
		
		#wrapper

			#container
				br
				#main_content
					block mainContent
					
				#side_content
					#sidebar
						#profile_update
							h1 Profile Update
								p
									| : No profile to update.
						#recent_items
							h1 Recent Quotes
								p
									| : No recent Quotes.
				br
		#footer
			#footer_content
				div(style="padding: 5px;") Copyright &copy; NinjaMine #{+new Date().getFullYear()} 
				#footer_links
					a(href='/page?name=about') About 
					| |  
					a(href='/page?name=contact') Contact Us 
					| |  
					a(href='https://github.com/jawerty/ninjamine') GitHub 
					| | 
					a(href='/page?name=blog') Blog 
					br
					br
					script 
						!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
					a(href="https://twitter.com/Jawerty",data-size="large",class="twitter-follow-button", data-show-count="false") Follow @Jawerty
				