extends layout
block mainContent
  #display
    #login
      h1 Log in to NinjaMine
      
      form(method='post')
        div#login_div
          input(id="formTextbox", type='text', name='username', placeholder="Username")
          br
          br
          input(id="formTextbox", type='password', name='password', placeholder="Password")
          br
          br
          input(id="formSubmit",type='submit', value='Login')

  
