extends layout
block mainContent
  #display
    #login
      h1 Login to NinjaMine
      
      form(method='post')
        div#login_div
          input(type='text', name='username', placeholder="Username")
          br
          br
          input(type='password', name='password', placeholder="Password")
          br
          br
          input(type='submit', value='Log In')

  
