extends layout
block mainContent
	#display
		h1 Top Quotes
		#quote-display
			-for (var id in quotes)
				- var quote = quotes[id]
				div
					halfQuote = quote.quote.substring(0,15) + '...'
					a(href='/quote/#{id}') #{quote.author} - #{halfQuote}
        
