
#userbar
	li#welcome
		if(typeof username !== 'undefined')
			| Welcome #{username}
		else
			| Hello Guest
	li
		if(typeof username !== 'undefined')
			a(href='/quote/#{username}') My Quotes
		else 
			a(href='/quotes') Top Quotes
	li
		a(href='/login') Login
	li
		if(typeof username !== 'undefined')
			a(href='/logout') Logout
		
		