
#userbar
	li#welcome
		if(typeof username !== 'undefined')
			| Welcome, #{username}
		else
			| Welcome, Guest
	li
		if(typeof username !== 'undefined')
			a(href='/story/#{username}') My Stories
		else 
			a(href='/stories') Top Stories
	li
		a(href='/login') Login
	li
		if(typeof username !== 'undefined')
			a(href='/logout') Logout
		
		