/*******main nav*******/
#nav {
  width: 100%;
 
}
#nav ol {
  padding: 0px;
  border-radius: 1px;
  background: #F7F7F7;/**url('/images/blue_text_lines.png');**/
  border-left: 1px solid #E7E7E7;
  border-right: 1px solid #E7E7E7;
  border-top: 2px solid #E7E7E7;
  width: 100%;
  display: block;

  top: 0%;
}
#nav li {

  margin: 0px;
  margin-right: 2px;

  
  border-radius: 1px;
  font-size:20px;
  color: #444;
  text-align: center;
  padding: 10px; 
  font-family:evo;

  vertical-align:middle;
  display:table-cell;

}
#nav li:hover{
  background-color:#76D3DE;

}
#li_logo{
      background-color: none;

}
#li_logo:hover{
    background-color: #E6E6E6;
}
#li_logo li:hover{
    background-color: #E6E6E6;

}
#nav a {
  text-decoration:none;
    vertical-align:middle;
  display:table-cell;
  border-radius: 1px;
  font-size:30px;
  color: #444;
  text-align: center;
  padding: 10px; 
  font-family:evo;
  
}

#nav a:hover {
  
}
#search {
right:0%;
}
#nav #search:hover {
    background-color: #FEF9F0;
}

#searchBox {
color: #777;
border-radius: 7px;
padding: 6px;
border: 1px solid #D7D7D7;
box-shadow: inset 3px 3px 3px 3px #eee;
  font-family:verdana;

}
/*******end main nav*******/

/*******second nav*******/
#nav2 {
  width: 100%;
  height: 40px;

  
}
#nav2 ol {
  padding: 0px;
  border-radius: 1px;
  background: #76D3DE;
  border-left: 1px solid #D7D7D7;
  border-right: 1px solid #D7D7D7;
  width: 100%;
  height: 100%;
  display: block;
  top: 0%;
 

}
#nav2 li {

  margin: 0px;
  margin-right: 2px;

  
  border-radius: 1px;
  font-size:20px;
   text-align: center;
  padding: 10px; 
  font-family:verdana;
  
  vertical-align:middle;
  display:table-cell;

}
#nav2 li:hover{
  /**background-color:#69D2E7;**/
  
}
#nav2 a {
text-decoration: none;
color: #FEF9F0;

}
#welcome{
  font-family: evo;
 }
#userbar {
float:right;
margin-right: 90px;

 }
  #userbar a{
    color: #eee;
  }
  #userbar a:hover{
text-decoration:underline;
  }
 #userbar li{
margin: 0px;
  margin-right: 2px;

   border-radius: 1px;
  font-size:20px;
  color: #444;
  text-align: center;
  padding: 10px; 
  
  
  vertical-align:middle;
  display:table-cell; }
#userbar li:hover{
  }

/*******end second nav*******/






